 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
@mixin boxes (){
  width: 700px;
  height: 200px;
  border: 1px solid hsla(185, 100%, 46%, 1);
  background-color: white;
}

.mainBox {
  width: 700px;
  height: auto;
  margin-right:auto;
  margin-left:auto;
}

.box1 {
 @include boxes;
}

.box2 {
  @include boxes;
}

.box3 {
  @include boxes;
}

h2 {
  display:block;
  height: 50px;
  margin: 0px;
  background-color: hsla(185, 100%, 46%, 1);
}

.p {
  padding: 10px;
  margin-top:5px;
}

section {
  height:50px;
  overflow:hidden;
  border: 1px solid hsla(185, 100%, 46%, 1);
  background-color:gray;
}

.one {
  height:200px;
  width:700px;
  background-color:red;
}
