 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
@mixin boxes (){
  width: 660px;
  height: 100px;
  padding-top: 5px;
  margin-top: 25px;
  margin-left: 10px;
  background-color: white;
}

.mainBox {
  width: 700px;
  height: auto;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

body {
  height: 37px;
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSexYNWe0et1W4z-m8bSewUh5d6uuIyux_U-pKhFQrlwGoS8gdFnA");
  background-size: contain;
}

.box1 {
 @include boxes;
}

.box2 {
  @include boxes;
}

.box3 {
  @include boxes;
}

h2 {
  display: block;
  height: 50px;
  padding-top: 10px;
  padding-left: 15px;
  margin: 0px;
  color: white;
  background-color: hsla(185, 100%, 46%, 1);
  font-family: 'Trade Winds', cursive;
}

h2:hover {
  background-color: hsla(184, 100%, 42%, 1);
}


p {
  margin-left: 15px;
  margin-top:5px;
}

section {
  height: 50px;
  overflow: hidden;
  border: 1px solid hsla(188, 100%, 46%, 1);
  transition: all 1s ease;
}

.one {
  height: 200px;
  width: 700px;
}
